#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #121212;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f72;
}

::-webkit-scrollbar-thumb {
  background: #4444446d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66666675;
}


.parent {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 8fr repeat(9, 0fr);
  grid-template-rows: 2fr 10fr repeat(10, 0fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #121212;
  width: 100%;
  height: 100%;
  position: relative;
}

.model {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f72;
  backdrop-filter: blur(4px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: start;

  .model_box {
    width: 400px;
    height: 250px;
    background-color: #121212;
    display: flex;
  justify-content: center;
  align-items: start;

  }
}
.component {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #232323;
  color: white;
  padding: 10px;
  width: 300px;
  overflow: auto;
  justify-content: start;
  align-items: start;
}

.folder {
  grid-area: 2 / 1 / 3 / 3;
  background-color: #232323;
  color: white;
  padding: 10px;
  width: 250px;
  max-height: 100%;
  overflow: auto;
  justify-content: start;
  align-items: start;
  text-align: start;


}

.Components {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: start;
  align-items: start;
  text-align: start;
  transition: all .2s;
  min-height: 40px;
  padding-inline: 8px;


}

.Source {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: start;
  align-items: start;
  text-align: start;
  transition: all .2s;
  min-height: 10px;
}

.folder_item {
  display: flex;
  gap: 2px;
  width: auto;
  justify-content: start;
  align-items: center;
  border-left: #d8d8d813 solid 1px;
  border-bottom: #d8d8d813 solid 1px;
  border-bottom-left-radius: 2px;


}

.folder_props {
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
  width: auto;
  justify-content: start;
  align-items: center;
  max-width: fit-content;
  font-size: 14px;
}

.add_icon {
  cursor: pointer;
  color: white;
  font-size: 20px;
  background-color: #121212;
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  text-align: center;
  border-radius: 2px;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.content {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #232323;
  color: white;
  padding: 20px;
  max-height: 100%;
  height: 100%;
  overflow: hidden;

}

.header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #232323;
  color: white;
  padding: 20px;
}

.outline {
  border: #fff solid 1px;
  color: #d8d8d8;
  background-color: transparent;



  &:hover {
    border-color: aqua;
  }

}

.filled {
  border: #d8d8d8 solid 1px;
  color: #121212;
  background-color: #d8d8d8;



  &:hover {
    background-color: #d8d8d880;
  }
}

.Button {
  padding-inline: 10px;

  width: 80px;
  padding-block: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;



}

.components-list {

  gap:10px;
  display: flex;
  flex-direction: column;

}